<div class="well text-center">
<p class="title"><%= @todo.description %></p>
<p class="cr_ag">Created <%= time_ago_in_words @todo.created_at %></p>
<p><%= link_to todos_path do %></p>
<i class="fa fa-3x fa-arrow-circle-left" style="color:red;opacity:.8;"></i>
<% end %>
</div>